page-home {
    .scroll-content{
        margin-top: 105px !important;
        background: color($colors, background);

        h1{
            color: color($colors, danger);
            font-weight: 300;
            text-align: center;
        }

        ion-card{
            border-radius: 8px !important;
            margin-left: 0px;
            width: 100%;

            ion-item{
                .item-inner{
                    border-bottom: 0 !important;
                }

                ion-avatar{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    color: color($colors, light);
                }

                h2, h5{
                    white-space: normal;
                    margin: 4px 0px;
                }

                h2{
                    font-weight: 500;
                    font-size: 1.8rem;
                    color: color($colors, dark);
                }

                h5{
                    font-size: 1.5rem;
                    color: color($colors, lighter);
                }
            }

            $backgrounds-level-1: #1f6521, #1b9ce5, #78244c, #fccd04, #fc4445;
            $backgrounds-level-2: #36d63b, #639ab9, #f1529f, #9bf55e, #eb5b73;
            
            @for $i from 1 through length($backgrounds-level-1) {
                &:nth-child(#{length($backgrounds-level-1)}n+#{$i}) {
                    ion-item{
                        ion-avatar{
                            background: linear-gradient(to top right, nth($backgrounds-level-1, $i), nth($backgrounds-level-2, $i))
                        }
                    }
                }
            }
        }
    }

    .search{
        margin-left: 20px;
        width: calc(100% - 40px);
        height: 40px;
        margin-bottom: 10px;
        margin-top: 10px;

        input{
            width: 100%;
            height: 90%;
            background: color($colors, light);
            border: none;
            border-radius: 4px;
        }

        input[type = text]{
            background-image: url('../../assets/imgs/search.png');
            background-position: 5px 5px;
            background-size: 25px;
            background-repeat: no-repeat;
            padding: 12px 20px 12px 40px;
        }

    }

    ion-select{
        max-width: unset !important;
        width: 100%;
        color: color($colors, light);

        .select-icon-inner{
            color: color($colors, light) !important;
        }
    }
}
