<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col col-8>
        <ion-title>Bank Search</ion-title>
      </ion-col>
      <ion-col col-4>
        <ion-select interface="popover" [(ngModel)]="city" (ngModelChange)="onCityChange()">
          <ion-option *ngFor="let place of cities" [value]="place">{{place}}</ion-option>
        </ion-select>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-row class="actions">
    <ion-col col-6>
      <button ion-button clear block>
        <ion-icon name="funnel"></ion-icon>
        <h5>Sort</h5>
      </button>
    </ion-col>
    <ion-col col-6>
      <button ion-button clear block (click)="openFilters()">
        <ion-icon name="options"></ion-icon>
        <h5>Filter</h5>
      </button>
    </ion-col>
  </ion-row>
  <ion-card *ngFor="let bank of banks | bankFilter: nameFilter: branchFilter: ifscFilter">
    <ion-item>
      <ion-avatar item-start>
        {{bank.bank_name | initials}}
      </ion-avatar>
      <h2>{{bank.bank_name}}</h2>
      <h5>Branch: {{bank.branch}}</h5>
      <h5>IFSC: {{bank.ifsc}}</h5>
    </ion-item>
  </ion-card>
  <h1 *ngIf="banks?.length < 1">No banks found for this region!</h1>
</ion-content>